In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("sales.csv",usecols=["Name","Platform","Genre","Publisher"])

In [20]:
df

,Name,Platform,Genre,Publisher
0,Wii Sports,Wii,Sports,Nintendo
1,Super Mario Bros.,NES,Platform,Nintendo
2,Mario Kart Wii,Wii,Racing,Nintendo
3,Wii Sports Resort,Wii,Sports,Nintendo
4,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo
...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,Platform,Kemco
16594,Men in Black II: Alien Escape,GC,Shooter,Infogrames
16595,SCORE International Baja 1000: The Official Game,PS2,Racing,Activision
16596,Know How 2,DS,Puzzle,7G//AMES
16597,Spirits & Spells,GBA,Platform,Wanadoo

In [24]:
for col in df.columns:
    print(col)

Name
Platform
Genre
Publisher

In [30]:
# top 10
top_10 = df["Name"].value_counts().sort_values(ascending=False).head(10)
top_10

Need for Speed: Most Wanted                12
FIFA 14                                     9
LEGO Marvel Super Heroes                    9
Madden NFL 07                               9
Ratatouille                                 9
Terraria                                    8
LEGO Star Wars II: The Original Trilogy     8
The LEGO Movie Videogame                    8
Madden NFL 08                               8
FIFA 15                                     8
Name: Name, dtype: int64